
.calMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00f6ab;
}
.calMain h1 {
    margin: 100px auto 0 auto;
}


.calGrid {
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
    padding: 10%;
    text-align: center;
}