.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00f6ab;
  width: 100vw;
  height: 100vh;
}

.header1 {
  margin: auto auto 5px auto;
  font-size: 40px;
  height: 40px;
  font-weight: bold;
}

.header2 {
  margin: 0 auto auto auto;
  font-size: 20px;
  height: 20px;
}

.button {
  margin: 0 auto auto auto;
  border: #00f6ab solid 4px;
  height: 40px;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  background-color: #212121;
  color: #fff;
}

.buttonArea {
  margin: 0 auto auto auto;
  display: flex;
  height: 40px;
}